@value backgroundColor from "~ui/styles/colors.module.css";
@value textColor from "~ui/styles/colors.module.css";
@value darkTextColor from "~ui/styles/colors.module.css";
@value secondaryTextColor from "~ui/styles/colors.module.css";
@value accentColor from "~ui/styles/colors.module.css";
@value noiseURL from "~ui/styles/noise.module.css";

@value cardWidth from "~ui/puzzle_card/puzzle_card.module.css";
@value cardHeight from "~ui/puzzle_card/puzzle_card.module.css";

.app {
  width: 100%;
  height: 100%;
  background: backgroundColor noiseURL repeat;
  color: textColor;
}

.header {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 64px;
  margin: 24px 0;
  z-index: 2;
}

.game {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 112px;
  box-sizing: border-box;
  z-index: 1;
}

.menuHeading {
  font-size: 24px;
  font-weight: lighter;
  transition: opacity 0.4s 0.4s linear;
}
.menuHeadingHidden {
  opacity: 0;
  transition: opacity 0.2s linear;
}

.deckList {
  padding: 12px 96px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

.deckItem {
  flex: 0 0 auto;
  transition: opacity 0.4s 0.4s linear;
}

.unselected {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s linear;
}

.logoBar {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 36px;
  font-size: 36px;
  color: secondaryTextColor;
  transform: translate(-50%, -50%);
}

.logo {
  color: accentColor;
}
.appName {
  color: textColor;
}

.backLight {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.scoreScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.scoreText {
  font-size: 24px;
  z-index: 1;
  text-align: center;
  animation: fadeIn 0.1s 0.2s linear both;
}

.scoreCard {
  position: absolute;
  left: 50%;
  top: 50%;
  width: cardWidth;
  height: cardHeight;
  transform: translate(-50%, -50%) scale(1.003);
}

.backToMenu {
  cursor: pointer;
  background: accentColor;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font: inherit;
  color: darkTextColor;
  font-weight: bold;
  margin-top: 144px;
  z-index: 2;
  animation: fadeIn 0.2s 1s linear both;
  outline: none;
}
.backToMenu:focus-visible {
  box-shadow: 0 0 0 12px darkTextColor;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
