@value backgroundColor from "~ui/styles/colors.module.css";
@value textColor from "~ui/styles/colors.module.css";
@value secondaryTextColor from "~ui/styles/colors.module.css";
@value accentColor from "~ui/styles/colors.module.css";
@value noiseURL from "~ui/styles/noise.module.css";

.app {
  width: 100%;
  height: 100%;
  background: backgroundColor noiseURL repeat;
  color: textColor;
}

.header {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 64px;
  margin: 24px 0;
  z-index: 2;
}

.game {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.menu {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
}

.deckList {
  padding: 12px 96px;
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
}

.deckItem {
  transition: opacity 0.4s 0.4s linear;
}

.unselected {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s linear;
}

.logoBar {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 36px;
  font-size: 36px;
  color: secondaryTextColor;
  transform: translate(-50%, -50%);
}

.logo {
  color: accentColor;
}
.appName {
  color: textColor;
}

.backLight {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
