@value puzzleGraphicsSecondaryColor from "~ui/styles/colors.module.css";

.key {
  color: puzzleGraphicsSecondaryColor;
}

.value {
  font-weight: bold;
}

.symbol {
  opacity: 0.4;
}

.emptyResult {
  opacity: 0.06;
  font-weight: bolder;
}
