@value ease from "~ui/styles/animation.module.css";
@value textColor from "~ui/styles/colors.module.css";
@value accentColor from "~ui/styles/colors.module.css";
@value codeEditorColor from "~ui/styles/colors.module.css";
@value codeEditorSecondaryColor from "~ui/styles/colors.module.css";
@value puzzleGraphicsColor from "~ui/styles/colors.module.css";
@value puzzleGraphicsPrimaryColor from "~ui/styles/colors.module.css";
@value textFilter from "~ui/styles/colors.module.css";

@value cardTopBoxShadow: inset 0 1px 0 var(--globalTopLight, transparent);
@value cardLeftBoxShadow: inset 1px 0 0 var(--globalLeftLight, transparent);
@value cardRightBoxShadow: inset -1px 0 0 var(--globalRightLight, transparent);
@value cardBottomBoxShadow: inset 0 -1px 0 var(--globalBottomLight, transparent);

@value darkenFilter: brightness(0.6);

@value cardWidth: 50rem;
@value cardHeight: 54rem;

.puzzleCard {
  width: cardWidth;
  height: cardHeight;
}

.puzzleCard.blur {
  pointer-events: none;
}
.puzzleCard.blur .frontface,
.puzzleCard.blur .backface {
  filter: darkenFilter;
}
.frontface,
.backface {
  transition: filter 0.9s 0.2s ease;
}

.frontface {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
  backface-visibility: hidden;
}

.graphicsContainer {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  border-radius: 24px 24px 0 0;
  font-size: 1.2rem;
  background: puzzleGraphicsColor;
  color: puzzleGraphicsPrimaryColor;
  box-shadow: cardTopBoxShadow, cardLeftBoxShadow, cardRightBoxShadow;
  z-index: 1;
}

.modCodeContainer {
  flex: 0 0 auto;
  position: relative;
  padding: 1rem 2rem 0.5rem;
  border-bottom: solid 1px codeEditorSecondaryColor;
  font-size: 1.2rem;
  background: codeEditorColor;
  box-shadow: cardLeftBoxShadow, cardRightBoxShadow;
  user-select: none;
  z-index: 2;
}

.codeContainer {
  flex: 1 1 auto;
  position: relative;
  padding: 2rem;
  border-radius: 0 0 24px 24px;
  font-size: 1.2rem;
  background: codeEditorColor;
  box-shadow: cardBottomBoxShadow, cardLeftBoxShadow, cardRightBoxShadow;
  overflow: auto;
  cursor: text;
  z-index: 3;
}
.modCodeContainer + .codeContainer {
  padding: 1rem 2rem 2rem;
}

.modHeader {
  color: accentColor;
  opacity: 0.4;
  font-weight: lighter;
}

.modCode:global(.code) {
  margin: 0;
  color: transparent;
  text-shadow: 0 0 accentColor;
  font-weight: lighter;
}

.extraCode {
  margin: 0;
  font-weight: lighter;
  opacity: 0.4;
  user-select: none;
}

.editor {
  display: flex;
  justify-content: stretch;
}

.editor::before {
  content: "  ";
  flex: 0 0 auto;
}

.editor > :global(.code) {
  flex: 1 1 auto;
}

.submitButton {
  display: block;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  margin: 0;
  padding: 5mm;
  border: none;
  border-radius: 50%;
  background: transparent;
  outline: none;
  cursor: pointer;
  transition: transform 0.1s ease;
}
.submitButton:hover {
  transform: translateY(-2px);
}
.submitButton:active {
  transform: scale(0.96);
}

.playIcon {
  filter: textFilter;
}

.waitIcon {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 5mm;
  opacity: 0.4;
  filter: textFilter;
  animation: waitAnimation 1s linear infinite;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1rem;
  border-radius: 1rem;
  background: codeEditorSecondaryColor;
  color: textColor;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  opacity: 0;
  transform: opacity 0.1s linear;
}

.submitButton:enabled:hover .tooltip {
  opacity: 1;
}

.executePopup {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2rem;
  border-radius: 12px;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
  background: codeEditorSecondaryColor;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  z-index: 4;
}
.executePopupExecuting {
  opacity: 1;
}

.executingIcon {
  display: inline-block;
  margin-left: 1rem;
  filter: textFilter;
  animation: waitAnimation 1s linear infinite;
}

@keyframes waitAnimation {
  to {
    transform: rotate(360deg);
  }
}

.backface {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: scale(1.003) rotateY(180deg) translate3d(0, 0, 0.5px);
}
