@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "JetBrains Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  font-family: inherit;
}

::selection {
  background: accentColor;
}

.codeRunner {
  position: absolute;
  left: -99999px;
  top: -99999px;
  z-index: -1;
}
